.react-calendar {
  border:none;

  &__navigation__arrow {
    display: none;
  }
  
  &__month-view__weekdays {
    color: rgb(29, 108, 147);
  }

  &__navigation__label { 
    color: rgb(29, 108, 147);
    font-size: 20px;
    font-weight: bold;
  }

  &__tile { 
    color: rgb(230, 108, 85);
  }

  &__tile--active {
    background-color: rgb(230, 108, 85);
    color: white;
  }
}

.buttons-wrapper {
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 15px;

  &__confirm-button {
    padding: 15px;
    border: 1px solid rgb(230, 108, 85);
    font-weight: bold;
    color: rgb(230, 108, 85);
    box-shadow: 2px 2px 1px 0.5px rgb(141, 141, 141);
  }
  
  &__cancel-button {
    width: 90px;
    color: grey;
    font-weight: bold;
    display: flex;
    font-weight: bold;
    border:none;
  }
}