

.calendar {
  border:none;

  .react-calendar__navigation__arrow {
    display: none;
  }
  
  .react-calendar__month-view__weekdays {
    color: rgb(29, 108, 147);
  }

  .react-calendar__navigation__label { 
    color: rgb(29, 108, 147);
    font-size: 20px;
    font-weight: bold;
  }

  .react-calendar__tile { 
    border: 1px solid rgb(230, 108, 85);
    color: rgb(230, 108, 85);
    margin-top: 5px;
  }
}